In [62]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
#构造Series 类似数组
s = Series(data=[1,2,3,'jiangxl'])
k = ['1','2','3','4']
s.reindex(a)

1    NaN
2    NaN
3    NaN
4    NaN
dtype: object

In [103]:
#构造DataFrame 类似excel结构  DataFrame面向行和列的操作 抽出的都是Series
data = {'name':['1','4','53','2'],'sex':['12','34','8','17']}
df = DataFrame(data)
a = ['1','2','3','4']
df.reindex(index=a,columns=['d','f'])

ValueError: arrays must all be same length

In [70]:
#删除指定轴上的项  返回的是一个新的对象，元对象不会被改变
df.drop(1)

  name sex
0    1  12
2   53   8
3    2  17

In [77]:
#切片 实际上就是对于数据的截取  对于Series  obj[::]即可  对于DataFrame obj[::][::]
s[:2]

0    1
1    2
dtype: object

In [82]:
df[:3 :2]

  name sex
0    1  12
2   53   8

In [93]:
#排序  Series使用sort_index()  DataFrame使用.sort_index(axis=0,by=none,ascending=True) by参数是针对某一些类进行排序
print(s.sort_index())
print(df.sort_index(by='name')+"\n")

0          1
1          2
2          3
3    jiangxl
dtype: object
   name   sex
0   1\n  12\n
3   2\n  17\n
1   4\n  34\n
2  53\n   8\n

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel_launcher.py:3: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  This is separate from the ipykernel package so we can avoid doing imports until

In [95]:
#排名   把对象的值替换成名次 method为处理平级项  Series.rank(method='average',ascending=True)   DataFrame.rank(axis=0,method='average')  axis表示分别按行或者列进行排名
print(s.rank(method='average'))
print(df.rank(axis=0，rank='average'))

SyntaxError: invalid character in identifier (<ipython-input-95-88225cdb24fa>, line 3)

In [98]:
#统计  比如求和 均值  方差 标准差 
df.mean()
print(df.var())

Series([], dtype: float64)

In [102]:
# 处理缺失数据   对于DataFrame 可以选择某行至少有三个非NA，参数为Thresh  how参数 all表示仅在切片元素全为NA时才丢弃，
s.dropna()
df.dropna(axis=1,how='any',thresh=3)

  name sex
0    1  12
1    4  34
2   53   8
3    2  17

In [107]:
#填充 fillna  fillna(value=None,method=None,axis=0)
fil = DataFrame({'j':[1,2,3,None],'f':[2,4,6,7]})
fil.fillna(555)

   f      j
0  2    1.0
1  4    2.0
2  6    3.0
3  7  555.0

In [ ]:
#inplace参数  在Series 和 DataFrame 对象的方法中，凡是会对数组作出修改并返回一个新数组的，往往会设置replace=False，如果是True，则原数组就可以被替换